apiVersion: cert-manager.io/v1alpha3
kind: ClusterIssuer
metadata:
  name: cert-manager-lets-encrypt-stg-cluster-issuer
spec:
  acme:
    email: ${notification_email}
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: cert-manager-lets-encrypt-stg-cluster-issuer-account-key
    solvers:
    - selector:
        ${indent(12, yamlencode({
          "dnsZones": [for zone_name in dns_public_zone_names : "${zone_name}"],
        }))}
      dns01:
        route53:
          region: ${region}

---
apiVersion: cert-manager.io/v1alpha3
kind: ClusterIssuer
metadata:
  name: cert-manager-lets-encrypt-prd-cluster-issuer
spec:
  acme:
    email: ${notification_email}
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: cert-manager-lets-encrypt-prd-cluster-issuer-account-key
    solvers:
    - selector:
        ${indent(12, yamlencode({
          "dnsZones": [for zone_name in dns_public_zone_names : "${zone_name}"],
        }))}
      dns01:
        route53:
          region: ${region}
