apiVersion: install.istio.io/v1alpha1
kind: IstioOperator
spec:
  profile: default
  addonComponents:
    grafana:
      enabled: true
    kiali:
      enabled: true
    prometheus:
      enabled: true
    tracing:
      enabled: true

  components:
    pilot:
      enabled: true
      k8s:
        hpaSpec:
          minReplicas: 4
        resources:
          limits:
            cpu: 250m
            memory: 256Mi
          requests:
            cpu: 100m
            memory: 128Mi

    ingressGateways:
      - name: istio-internalgateway
        enabled: ${enable_internal_lb}
        tag: internalgateway
        label:
          network: internal
          istio: internalgateway
          app: istio-internalgateway
        k8s:
          serviceAnnotations:
            service.beta.kubernetes.io/aws-load-balancer-internal: "true"
      - name: istio-externalgateway
        enabled: ${enable_external_lb}
        tag: externalgateway
        label:
          network: external
          istio: externalgateway
          app: istio-externalgateway
        k8s:
          serviceAnnotations:
            service.beta.kubernetes.io/aws-load-balancer-internal: "false"

  values:
    gateways:
      istio-ingressgateway:
        autoscaleMin: 4
        resources:
          limits:
            cpu: 2000m
            memory: 1024Mi
          requests:
            cpu: 100m
            memory: 128Mi

    global:
      sds:
        enabled: true
      mtls:
        auto: true
        enabled: true
    sidecarInjectorWebhook:
      rewriteAppHTTPProbe: true
